{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash' id="flashMessage">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

<div class="container white" >
    <div class="col-xs-3 fill" id="container">
      <h3 class="cat"><b>Categories</b></h3>
      <ul class="nav">
        {% for category in categories %}
          <li><a class="cat-list" href = "{{url_for('showItems', cat_name = category.name)}}"><b>{{category.name}}</b></a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="vertical-row"></div>
    <div class="col-xs-8 fill">
      <h3 class="cat"><b>Latest Items</b></h3>
      <ul class="nav">
        {% for item in items %}
        <li><a class="cat-list" href = "{{url_for('showItem', cat_name = item.category.name, item_name = item.name)}}"><b>{{item.name}}</b><b style="color: #99999F;"><i> ({{item.category.name}})</i></b></a></li>
        {% endfor %}
      </ul>
      <form action="{{url_for('newItem')}}">
        <input class="btn btn-danger navbar-btn" type="submit" value="Add Item" />
      </form>
    </div>
</div>
{% endblock %}
